@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Documentatie</h2>
            <hr class="primary">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="tabbable tabs-left">
            <ul class="nav nav-pills nav-stacked col-md-3">
                <li class="active"><a href="#introduction" data-toggle="tab">Introductie</a></li>
                <li><a href="#account" data-toggle="tab">Account</a></li>
                <li><a href="#applications" data-toggle="tab">Applicaties</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="introduction">
                    <p>Introductie</p>
                </div>
                <div class="tab-pane" id="account">
                    -
                </div>
                <div class="tab-pane" id="applications">
                    -
                </div>
            </div>
        </div>
    </div>
</div>
