@model DaVinciCollegeAuthenticationService.Models.ApplicationViewModels.CreateViewModel

<div class="row col-md-offset-2">
    <div class="col-md-10">
        <h2>Voeg een nieuwe applicatie toe</h2>
        <form asp-controller="Application" asp-action="Create" method="post" class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Secret" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Secret" class="form-control" />
                    <span asp-validation-for="Secret" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LoginCallbackUrl" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="LoginCallbackUrl" placeholder="Vb: http://www.mijnapp.nl/loginCallback" class="form-control"/>
                    <span asp-validation-for="LoginCallbackUrl" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ValidFor" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ValidFor" class="form-control" />
                    <span asp-validation-for="ValidFor" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ExtendExpiryOnRequest" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ExtendExpiryOnRequest" class="form-control" />
                    <span asp-validation-for="ExtendExpiryOnRequest" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default">Toevoegen</button>
                </div>
            </div>
        </form>
    </div>
</div>