@model DaVinciCollegeAuthenticationService.Models.ApplicationViewModels.IndexViewModel

<h1>Applicatie pagina</h1>
<div class="jumbotron">
    <a class="btn btn-success" asp-controller="Application" asp-action="Create">Applicatie Toevoegen</a>
    <hr />
    @if (Model.Applications.Count > 0)
    {
        @foreach (var application in Model.Applications)
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>@application.Name</p><a asp-controller="Application" asp-action="Update" asp-route-applicationId="@application.Id" class="btn btn-warning" style="float:right;">Bewerken</a><a class="btn btn-danger" asp-controller="Application" asp-action="Delete" asp-route-applicationId="@application.Id" style="float:right;">Verwijder</a>
                </div>
            </div>
        }
    }
    else
    {
	      <p>Geen applicaties</p>   
	}
</div>