@model DaVinciCollegeAuthenticationService.Models.ApplicationViewModels.IndexViewModel
<h1>Applicatie pagina</h1>
<div class="jumbotron">
    <a class="btn btn-success" asp-controller="Application" asp-action="Create">Applicatie Toevoegen</a>
    <hr />
    @if (Model.Applications.Count > 0)
    {
        @foreach (var application in Model.Applications)
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    <p style="display:inline-block;">@application.Name</p>
                    <hr />
                    <a class="btn btn-danger" asp-controller="Application" asp-action="Delete" asp-route-applicationId="@application.Id" style="display:inline-block; float:right;">Verwijder</a>
                    <a asp-controller="Application" asp-action="Update" asp-route-applicationId="@application.Id" class="btn btn-warning" style="display:inline-block; float:right;">Bewerken</a> 
                    <input class="tokenText form-control" style="display:inline-block; max-width: 520px" type="text" readonly="readonly" value="http://@Model.DomainName/sso/login/@application.Token" />
                    <button style="display:inline" class="btn btn-primary" id="copyBtn" onclick="copyToClipBoard(this)">Kopiëren</button>     
                </div>
            </div>
        }
    }
    else
    {
	      <p>Geen applicaties</p>   
	}
</div>

<script>
    function copyToClipBoard(btn)
    {
        var inputField = $(btn).parent().children(".tokenText");
        inputField.select();
        // Copy to the clipboard
        document.execCommand('copy');
    }
</script>