@using DaVinciCollegeAuthenticationService.Models
@model DaVinciCollegeAuthenticationService.Models.SsoViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

@if (Model != null)
{
    <div class="modal fade" id="modalLogin">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Inloggen</h4>
                </div>
                <div class="modal-body">
                    <form asp-controller="Sso" asp-action="Login" method="post" class="form-horizontal">
                        @Html.AntiForgeryToken()
                        <h5>Log in om toegang te verlenen tot @Model.Application.Name</h5>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">DaVinci Nummer</label>
                            <div class="col-md-10">
                                <input name="userNumber" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Wachtwoord</label>
                            <div class="col-md-10">
                                <input name="Password" type="password" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-default">Toegang verlenen</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <form asp-controller="Sso" asp-action="Cancel" method="post" class="form-horizontal">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="token" value="@Model.Application.Token" />
                        <input type="submit" class="btn btn-danger" value="Annuleren" style="float: left;" />
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    @section Scripts {
        <script>
            $(document).ready(function() {
                $("#modalLogin").modal();
            });
        </script>
    }
}
else
{
    <h2>Dit is geen geldige login pagina.</h2>
}