<h1>ExcelSheet</h1>
<h2>@ViewBag.text</h2>
<form method="post" asp-action="PostExcelSheet" asp-controller="Excel" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" value="Upload" />
</form>