@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<h2>Wachtwoord vergeten/aanvragen?</h2>
<p>
    Wij hebben een email verstuurd naar jouw mydavinci email adres met instructies om jouw wachtwoord te resetten/in te stellen.
</p>
